<div class="enterprise-intro">
  <div class="enterprise-intro__wrap">
    <h1 class="enterprise-intro__title page-title">
      ENTERPRISE
    </h1>
    <p class="page-title--mobile">
      <span>ENTER</span>
      <span>PRISE</span>
    </p>
    <p class="enterprise-intro__description">
      The fastest open-source monitoring solution on the market extended with
      custom features, architectural guidance, and priority support
    </p>
    <p class="enterprise-intro__link mobile-only">
      <a href="https://calendly.com/victoriametrics/30min" target="_blank" rel="noopener noreferrer"
        class="btn btn--orange btn__size--xl">Request a Demo</a>
    </p>
  </div>

  <div class="interprise-list">
    <div class="interprise-list__wrap">
      <div class="interprise-list__bg"></div>
      <div class="interprise-list__block interprise-list__block--left">
        <div class="points__list">
          <div class="point-item point-item--1" data-id="1">
            <h4 class="point-item__title">
              Ground Control is here for enterprise support
            </h4>
            <div class="point-item__description">
              <p>
                Feeling lost in space? Contact our engineers and get technical
                support, architectural and security guidance, help with
                adoption, integration, and performance analytics.
              </p>
            </div>
            <ul class="point-item__list vm-point-list">
              <li>Strict SLA for response time</li>
              <li>Phone support</li>
              <li>Private chat rooms</li>
              <li>Priority bug fixes</li>
            </ul>
          </div>

          <div class="point-item point-item--2 in-bottom" data-id="2">
            <h4 class="point-item__title">
              Put AI in charge of forecasts and anomaly detection
            </h4>
            <div class="point-item__description">
              <p>
                Even when you’re faced with a problem that never happened
                before, vmanomaly will detect it through custom models carefully
                selected and pre-trained by our engineers.
              </p>
            </div>
            <ul class="point-item__list vm-point-list">
              <li>Custom machine learning integration</li>
              <li>Pre-trained selected models</li>
              <li>Seamless installation</li>
            </ul>
          </div>

          <div class="point-item point-item--3 in-bottom" data-id="3">
            <h4 class="point-item__title">
              Implement advanced security standards
            </h4>
            <div class="point-item__description">
              <p>
                Store metrics in accordance with your company’s security
                requirement—ensure different permission levels and
                authentication/authorization options.
              </p>
            </div>
            <ul class="point-item__list vm-point-list">
              <li>Role-based read/write access</li>
              <li>SSO, LDAP and custom integrations</li>
            </ul>
          </div>

          <div class="point-item point-item--4 in-bottom" data-id="4">
            <h4 class="point-item__title">
              Get access to your data under any circumstances
            </h4>
            <div class="point-item__description">
              <p>
                None of your data is gonna be lost no matter what may happen to
                your storages—VMBackuper will automatically save the data to a
                backup storage due to a custom schedule.
              </p>
            </div>
            <ul class="point-item__list vm-point-list">
              <li>Automated regular backup procedure</li>
              <li>Multiple backup intervals</li>
              <li>S3, GCS, local or custom destinations</li>
            </ul>
          </div>

          <div class="point-item point-item--5 in-bottom" data-id="5">
            <h4 class="point-item__title">
              External monitoring for VM Cluster
            </h4>
            <div class="point-item__description">
              <p>
                Your monitoring is doing a great job getting you alerted if
                something goes wrong with the infrastructure. And we help you
                get alerted if something goes wrong with your monitoring itself.
              </p>
            </div>
            <ul class="point-item__list vm-point-list">
              <li>Unlimited users</li>
              <li>5-year retention period</li>
              <li>Unlimited alerts integrations</li>
            </ul>
          </div>

          <div class="point-item point-item--6 in-bottom" data-id="6">
            <h4 class="point-item__title">
              The space is limitless. There are more features to come
            </h4>
            <div class="point-item__description">
              <p>
                Be among the first to put boots on the Moon—subscribe to
                VictoriaMetrics Enterprise and get all the new features as soon
                as they go live without additionally paying for them.
              </p>
            </div>
            <ul class="point-item__list vm-point-list">
              <li>GraphiteQL</li>
              <li>Cluster rebalancing</li>
              <li>Advanced rollups</li>
            </ul>
          </div>

          <div class="point-item point-item--7 in-bottom" data-id="7">
            <h4 class="point-item__title">
              Get the solution that fits your architectural ambitions
            </h4>
            <div class="point-item__description">
              <p>
                No matter what software you’re already using and how
                sophisticated demands you have, the universe of VictoriaMetrics
                will be open for you.
              </p>
            </div>
            <ul class="point-item__list vm-point-list">
              <li>Custom integration with third-party software</li>
              <li>Custom feature development</li>
            </ul>
            <p class="point-item__link">
              <a href="https://calendly.com/victoriametrics/30min" target="_blank" rel="noopener noreferrer"
                class="btn btn--orange btn__size--xl">Book a Demo</a>
            </p>
          </div>
        </div>
      </div>
      <div class="interprise-list__block interprise-list__block--right">
        <div class="dots-wrap">
          <span class="dot-item dot-item--1 active" data-id="1"></span>
          <span class="dot-item dot-item--2" data-id="2"></span>
          <span class="dot-item dot-item--3" data-id="3"></span>
          <span class="dot-item dot-item--4" data-id="4"></span>
          <span class="dot-item dot-item--5" data-id="5"></span>
          <span class="dot-item dot-item--6" data-id="6"></span>
          <span class="dot-item dot-item--7" data-id="7"></span>
        </div>
        <picture class="enterprise-list__mask">
          <source srcset="/img/mask.webp" type="image/webp" />
          <source srcset="/img/mask.png" type="image/png" />
          <img src="/img/mask.png" alt="mask" />
        </picture>
      </div>
    </div>
  </div>
</div>