<section class="community-intro">
  <div class="container">
    <div class="community-intro__wrap">
      <h1 class="page-title">Community</h1>
      <p class="page-title--mobile">
        <span>comm</span>
        <span>unity</span>
      </p>

      <div>
        <p class="community-intro__action">
          <a href="https://victoriametrics.github.io/Quick-Start.html" target="_blank" rel="noopener noreferrer"
            class="btn btn--default btn__size--l">Get Started</a>
        </p>
        <p class="community-intro__description">
          <span>Just the fastest</span>
          <span>open-source monitoring</span>
          <span>solution on the market</span>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="solutions scene-section" id="solutions-list">
  <div class="container">
    <div class="scene-section__active scene-section--solutions">

      <div class="scene-fixed-content js-moon-bg" data-position="0">
        <div class="fixed-count__wrap">
          <div class="fixed-item fixed-item--0 active">
            <div class="scene-solution__count">
              <span>00/</span>
            </div>
            <div class="scene-solution__description">
              <p>
                Store millions data points per second with a single binary. Or build complex and high-load monitoring
                infrastructure with multiple data centers in any number of regions.
              </p>
            </div>
          </div>
          <div class="fixed-item fixed-item--1">
            <div class="scene-solution__count">
              <span>01/</span>
            </div>
            <div class="scene-solution__description">
              <p>Thanks to our outstanding compression algorithms, the same amount of data takes 3X-70X less space on
                discs. That means you can store 3X-70X more metrics or save disc volume.</p>
              <p>VictoriaMetrics allows building complex infrastructure with multiple data centers</p>

            </div>
          </div>
          <div class="fixed-item fixed-item--2">
            <div class="scene-solution__count">
              <span>02/</span>
            </div>
            <div class="scene-solution__description">
              <p>
                VictoriaMetrics is optimized for work with billions of metrics since the first line of code. Along with
                cluster architecture, that’s what makes our solution perfect for large monitoring setups.
              </p>
            </div>
          </div>
          <div class="fixed-item fixed-item--3">
            <div class="scene-solution__count">
              <span>03/</span>
            </div>
            <div class="scene-solution__description">
              <p>
                Flexible and user-friendly MetricsQL, inspired by PromQL, provides additional functions and usability
                improvements appreciated by numerous clients.
              </p>
            </div>
          </div>
          <div class="fixed-item fixed-item--4">
            <div class="scene-solution__count">
              <span>04/</span>
            </div>
            <div class="scene-solution__description">
              <p>
                We built VictoriaMetrics compatible with all the major protocols to give you the chance to benefit from
                both push and pull. No matter which protocol you use, you get the highest possible speed.
              </p>
            </div>
          </div>
          <div class="fixed-item fixed-item--5">
            <div class="scene-solution__count">
              <span>05/</span>
            </div>
            <div class="scene-solution__description">
              <p>
                If one of the servers is not responding or the whole cluster is unavailable—your data will be safe with
                VictoriaMetrics.
              </p>
            </div>
          </div>
          <div class="fixed-item fixed-item--6">
            <div class="scene-solution__count">
              <span>06/</span>
            </div>
            <div class="scene-solution__description">
              <p>
                Vmalert executes a list of given alerting or recording rules against configured address.
              </p>
            </div>
          </div>
          <div class="fixed-item fixed-item--7">
            <div class="scene-solution__count">
              <span>07/</span>
            </div>
            <div class="scene-solution__description">
              <p>
                No one can choose the right monitoring solution at first try. Whenever you make the right choice,
                VictoriaMetrics will provide various import and export options for you.
              </p>
            </div>
          </div>
          <div class="fixed-item fixed-item--8">
            <div class="scene-solution__count">
              <span>08/</span>
            </div>
            <div class="scene-solution__description">
              <p>
                If you’re using Prometheus and need to keep your data, we’ve got you covered—just use VictoriaMetrics as
                a
                long-term storage.
              </p>
            </div>
          </div>
          <div class="fixed-item fixed-item--9">
            <div class="scene-solution__count">
              <span>09/</span>
            </div>
            <div class="scene-solution__description">
              <p>
                Highest standard in security makes you sure that your data is secured and access to data is separated in
                a
                way you want it.
              </p>
            </div>
          </div>
          <div class="fixed-item fixed-item--10">
            <div class="scene-solution__count">
              <span>10/</span>
            </div>
            <div class="scene-solution__description">
              <p>
                We do our best for the VictoriaMetrics community, that’s why it’s the most friendly, happy, and
                satisfied
                community in the universe where any questions get answered.
              </p>
            </div>
          </div>
        </div>
        <div class="fixed-list__wrap">
          <div class="scene__item scene-solution scene-solution--0 active" data-id="0">
            <div class="scene-solution__wrap">
              <div class="scene-solution__count active">
                <span>00/</span>
              </div>
              <div class="scene-solution__title">
                <h3>Meet open-source VictoriaMetrics:<br /> the fastest one</h3>
              </div>
              <div class="scene-solution__description">
                <p>
                  Store millions data points per second with a single binary. Or build complex and high-load monitoring
                  infrastructure with multiple data centers in any number of regions.
                </p>
              </div>
              <ul class="scene-solution__list vm-point-list">
                <li>Pretuned for high performance</li>
                <li>Easy-to-install</li>
                <li>Single and cluster version available</li>
              </ul>
            </div>
          </div>
          <div class="scene__item scene-solution scene-solution--1" data-id="1">
            <div class="scene-solution__wrap">
              <div class="scene-solution__count">
                <span>01/</span>
              </div>
              <div class="scene-solution__title">
                <h3>Store metrics in a space-size storage</h3>
              </div>
              <div class="scene-solution__description">
                <p>Thanks to our outstanding compression algorithms, the same amount of data takes 3X-70X less space on
                  discs. That means you can store 3X-70X more metrics or save disc volume.</p>
                <p>VictoriaMetrics allows building complex infrastructure with multiple data centers</p>

              </div>
              <ul class="scene-solution__list vm-point-list">
                <li>Lowest sample size</li>
                <li>Deduplication</li>
                <li>High churn rate support</li>
              </ul>
            </div>
          </div>
          <div class="scene__item scene-solution scene-solution--2" data-id="2">
            <div class="scene-solution__wrap">
              <div class="scene-solution__count">
                <span>02/</span>
              </div>
              <div class="scene-solution__title">
                <h3>
                  Process your data with the speed of light
                </h3>
              </div>
              <div class="scene-solution__description">
                <p>
                  VictoriaMetrics is optimized for work with billions of metrics since the first line of code. Along
                  with
                  cluster architecture, that’s what makes our solution perfect for large monitoring setups.
                </p>
              </div>
              <ul class="scene-solution__list vm-point-list">
                <li>Optimized for storage with high-latency IO and low IOPS</li>
                <li>Up to 10X higher ingestion rate</li>
                <li>Hight query performance</li>
              </ul>
            </div>
          </div>
          <div class="scene__item scene-solution scene-solution--3" data-id="3">
            <div class="scene-solution__wrap">
              <div class="scene-solution__count">
                <span>03/</span>
              </div>
              <div class="scene-solution__title">
                <h3>
                  Execute ideas without bottlenecks
                </h3>
              </div>
              <div class="scene-solution__description">
                <p>
                  Flexible and user-friendly MetricsQL, inspired by PromQL, provides additional functions and usability
                  improvements appreciated by numerous clients.
                </p>
              </div>
              <ul class="scene-solution__list vm-point-list">
                <li>WITH templates: writing and managing complex queries simplified</li>
                <li>PromQL functions supported and improved</li>
                <li>Over 100 additional functions available and even more coming</li>
              </ul>
            </div>
          </div>
          <div class="scene__item scene-solution scene-solution--4" data-id="4">
            <div class="scene-solution__wrap">
              <div class="scene-solution__count">
                <span>04/</span>
              </div>
              <div class="scene-solution__title">
                <h3>
                  Meet no protocol barrier
                </h3>
              </div>
              <div class="scene-solution__description">
                <p>
                  We built VictoriaMetrics compatible with all the major protocols to give you the chance to benefit
                  from
                  both push and pull. No matter which protocol you use, you get the highest possible speed.
                </p>
              </div>
              <ul class="scene-solution__list vm-point-list">
                <li>Graphite, OpenTSDB, and Influx protocols for push
                </li>
                <li>EPrometheus protocol for native pull via vmagent
                </li>
                <li>Protocol equality</li>
              </ul>
            </div>
          </div>
          <div class="scene__item scene-solution scene-solution--5" data-id="5">
            <div class="scene-solution__wrap">
              <div class="scene-solution__count">
                <span>05/</span>
              </div>
              <div class="scene-solution__title">
                <h3>
                  Keep your data safe no matter what
                </h3>
              </div>
              <div class="scene-solution__description">
                <p>
                  If one of the servers is not responding or the whole cluster is unavailable—your data will be safe
                  with
                  VictoriaMetrics.
                </p>
              </div>
              <ul class="scene-solution__list vm-point-list">
                <li>Replication data support </li>
                <li>Incremental backups to local disk or object storage (GCS or S3-compatible)
                </li>
                <li>Automatic stream restoration from the interruption point
                </li>
              </ul>
            </div>
          </div>
          <div class="scene__item scene-solution scene-solution--6" data-id="6">
            <div class="scene-solution__wrap">
              <div class="scene-solution__count">
                <span>06/</span>
              </div>
              <div class="scene-solution__title">
                <h3>
                  Timely fix issues with vmalert
                </h3>
              </div>
              <div class="scene-solution__description">
                <p>
                  Vmalert executes a list of given alerting or recording rules against configured address.
                </p>
              </div>
              <ul class="scene-solution__list vm-point-list">
                <li>Prometheus alerting rules definition format support</li>
                <li>Integration with Alertmanager</li>
                <li>Keeps the alerts state on restarts</li>
              </ul>
            </div>
          </div>
          <div class="scene__item scene-solution scene-solution--7" data-id="7">
            <div class="scene-solution__wrap">
              <div class="scene-solution__count">
                <span>07/</span>
              </div>
              <div class="scene-solution__title">
                <h3>
                  Own your data and migrate easily
                </h3>
              </div>
              <div class="scene-solution__description">
                <p>
                  No one can choose the right monitoring solution at first try. Whenever you make the right choice,
                  VictoriaMetrics will provide various import and export options for you.
                </p>
              </div>
              <ul class="scene-solution__list vm-point-list">
                <li>Data import via JSON, CSV, Prometheus exposition and native format
                </li>
                <li>Data export via JSON, CSV, and native format
                </li>
                <li>Backfilling via Graphite, OpenTSDB and Influx line protocols</li>
              </ul>
            </div>
          </div>
          <div class="scene__item scene-solution scene-solution--8" data-id="8">
            <div class="scene-solution__wrap">
              <div class="scene-solution__count">
                <span>08/</span>
              </div>
              <div class="scene-solution__title">
                <h3>
                  Store your Prometheus data on a long-term basis
                </h3>
              </div>
              <div class="scene-solution__description">
                <p>
                  If you’re using Prometheus and need to keep your data, we’ve got you covered—just use VictoriaMetrics
                  as
                  a
                  long-term storage.
                </p>
              </div>
              <ul class="scene-solution__list vm-point-list">
                <li>Remote-write protocol support</li>
                <li>PromQL functions supported and improved</li>
                <li>Federation support</li>
              </ul>
            </div>
          </div>
          <div class="scene__item scene-solution scene-solution--9" data-id="9">
            <div class="scene-solution__wrap">
              <div class="scene-solution__count">
                <span>09/</span>
              </div>
              <div class="scene-solution__title">
                <h3>
                  Stick to your security standards
                </h3>
              </div>
              <div class="scene-solution__description">
                <p>
                  Highest standard in security makes you sure that your data is secured and access to data is separated
                  in
                  a
                  way you want it.
                </p>
              </div>
              <ul class="scene-solution__list vm-point-list">
                <li>Metric encryption</li>
                <li>Endpoint authentication</li>
                <li>Multi-tenancy support</li>
              </ul>
            </div>
          </div>
          <div class="scene__item scene-solution scene-solution--10" data-id="10">
            <div class="scene-solution__wrap">
              <div class="scene-solution__count">
                <span>10/</span>
              </div>
              <div class="scene-solution__title">
                <h3>
                  Join VictoriaMetrics astronauts
                </h3>
              </div>
              <div class="scene-solution__description">
                <p>
                  We do our best for the VictoriaMetrics community, that’s why it’s the most friendly, happy, and
                  satisfied community in the universe where any questions get answered.
                </p>
              </div>
              <ul class="scene-solution__list vm-point-list">
                <li>Community chats</li>
                <li>GitHub issues</li>
                <li>Pull requests are welcome</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="scenes-scroll__list">
        <div class="scenes-scroll__item scenes-scroll__item--0" data-id="0"></div>
        <div class="scenes-scroll__item scenes-scroll__item--1" data-id="1"></div>
        <div class="scenes-scroll__item scenes-scroll__item--2" data-id="2"></div>
        <div class="scenes-scroll__item scenes-scroll__item--3" data-id="3"></div>
        <div class="scenes-scroll__item scenes-scroll__item--4" data-id="4"></div>
        <div class="scenes-scroll__item scenes-scroll__item--5" data-id="5"></div>
        <div class="scenes-scroll__item scenes-scroll__item--6" data-id="6"></div>
        <div class="scenes-scroll__item scenes-scroll__item--7" data-id="7"></div>
        <div class="scenes-scroll__item scenes-scroll__item--8" data-id="8"></div>
        <div class="scenes-scroll__item scenes-scroll__item--9" data-id="9"></div>
        <div class="scenes-scroll__item scenes-scroll__item--10" data-id="10"></div>
      </div>
    </div>
  </div>
</section>